@using CRM.Models.Entities
@model CRM.Models.Entities.Campaign

@{
	ViewData["Title"] = "Campaign - Create";
}
<link rel="stylesheet" href="~/css/section.css" />
<section>
	<aside>
		<div>
			@{
				Html.RenderPartial("_LeftBarMenuPartial");
			}
		</div>
	</aside>
	<main>
		@{
			Html.RenderPartial("_TabsPartial");
		}

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()

			<div class="form-horizontal">
				@*<h4>Student</h4>*@
				<hr />
				@Html.ValidationSummary(true, "", new { @class = "text-danger" })
				@*@Html.HiddenFor(model => model.Id)*@

				<div class="form-group">
					@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">Start Date</label>
					<div class="col-md-10">
						@Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })

					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-md-2">End Date</label>
					<div class="col-md-10">
						@Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownListFor(model => model.Status, Html.GetEnumSelectList(typeof(ItemStatus)), new { htmlAttributes = new { @class = "form-control" } })
						@Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-offset-2 col-md-10">
						<input type="submit" value="Save" class="btn btn-primary" />
					</div>
				</div>
			</div>
		}

		<div>
			@Html.ActionLink("Back to List", "Index")
		</div>
	</main>
</section>
@section Scripts {
	@*@Scripts.Render("~/bundles/jqueryval")*@
}
