@model CRM.Models.ViewModels.CampaignPagination


<div class="row">
    <div id="campaignList" class="col-lg-12">
        <div class="input-group">
            @Html.TextBoxFor(model => model.SearchText, new { htmlAttributes = new { @class = "form-control" } })
            <div class="input-group-append">
                <button onclick="campaignSearch();" class="btn btn-secondary"><i class="fa fa-search"></i></button>
            </div>
        </div>
        <br />
     
        <table id="tblCampaigns" class="display table">
                <thead>
                    <tr>
                        <th>
                            Id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Campaigns)
                    {

                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <label>@item.StartDate.ToString("dd/MM/yyyy")</label>
                        </td>
                        <td>
                            <label>@item.EndDate.ToString("dd/MM/yyyy")</label>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Status)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id , @class = "btn btn-primary" }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id , @class = "btn btn-danger" })
                        </td>

                    </tr>
                    }
                </tbody>
            </table>
            <br />


            <!-- pager -->
            @if (Model.Pager.EndPage > 1)
            {
                <ul class="pagination">
                    @if (Model.Pager.CurrentPage > 1)
                    {
                        <li>
                            <a onclick="campaignSearch(1);" href="#" class="page-link">First</a>
                        </li>
                        <li>
                            <a onclick="campaignSearch(@(Model.Pager.CurrentPage - 1));" href="#" class="page-link">Previous</a>
                        </li>
                    }

                    @for (int p = Model.Pager.StartPage; p <= Model.Pager.EndPage; p++)
                    {
                        <li class="page-item @(p == Model.Pager.CurrentPage ? "active" : "")">
                            <a onclick="campaignSearch(@p);" href="#" class="page-link">@p</a>
                        </li>
                    }

                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                    {
                        <li>
                            <a onclick="campaignSearch(@(Model.Pager.CurrentPage + 1));" href="#" class="page-link">Next</a>

                        </li>
                        <li>
                            <a onclick="campaignSearch(@(Model.Pager.TotalPages));" href="#" class="page-link">Last</a>

                        </li>
                    }
                </ul>
            }

            @*<input type="hidden" id="cp_pageSize" value="@Model.Pager.PageSize">
            <input type="hidden" id="cp_currentPage" value="@Model.Pager.CurrentPage">*@

        </div>
    </div>


